*{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
a{
    color:rgb(51,51,51);
    text-decoration: none;
}
body{
    font-size: 12px;
    line-height: 1.5;
    font-family: "Apple SD Gothic Neo","맑은 고딕","Malgun Gothic", 돋움, dotum, sans-serif;;
    color: rgb(118,118, 118);
    letter-spacing: -1px;
    background-color: rgb(236, 236, 238);
    text-size-adjust: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}
#login{
    max-width: 700px;
    min-height: 100%;
    margin: 0px auto;
    background: #fff;
    text-align: center;
}
.inner_head{
    padding-top: 85px;
}
.inner_head .link_daum{
    display: block;
    width:  142px;
    height: 58px;
    margin: 0 auto;
    background: url("https://t1.daumcdn.net/id/logins/2021/retina/logo_daum.png") 0 0 no-repeat;
    background-size: 142px 58px ;
}
.ir_wa{
    display: block;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*span 삭제*/
    font-size: 0;
    text-decoration: none;
}
.hide{
    display: none;
}
.screen_out{
    overflow: hidden;
    position: absolute;
    width: 0px;
    height: 0px;
    line-height: 0;
    text-indent: -9999px;
}
.section_login{
    min-height: 650px;
    min-width: 600px;
    padding-bottom: 20px;
}
.login_default{
    max-width: 420px;
    padding-top: 30px;
    margin: 0px auto;
}
.login_default .login_change{
    text-align: right;
}
.login_change .link_change{
    line-height: 20px;
    letter-spacing: -0.1em;
    display: inline-block;
    height: 24px;
    color: #000;
    vertical-align: top;
}
.link_change .link_change .icon_login{
    width: 14px;
    height: 12px;
    margin: 4px 5px 0px 0px;
    background-position: -70px 0px;
}
.icon_login{
    display: inline-block;
    font-size: 0px;
    line-height: 0;
    text-indent: -9999px;
    vertical-align: top;
    background: url("https://t1.daumcdn.net/id/logins/2021/retina/ico_login.png") 0px 0px / 200px 100px no-repeat;
}
legend{
    display: block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}
label{
    cursor: default;
}
button{
    font-size: 12px;
    line-height: 1.5;
    font-family: 'Apple SD Gothic Neo','맑은 고딕','Malgun Gothic','돋움',dotum,sans-serif;
    color: #767676;
    letter-spacing: -1px;
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
    vertical-align: middle;
}
input{
    font-weight: 700;
    line-height: 30px;
    font-size: 15px;
    height: 46px;
    width: 418px;
    padding: 8px 44px 10px 14px;
    display: block;
    cursor: text;
    transform: none;
    box-sizing: border-box;
    margin-top: 8px;
    border: 1px solid #d6d6d6;
}
.btn_comm{
    margin-top: 8px;
    background-color: #4C87EE;
    color: #fff;
    font-weight: 700;
    line-height: 30px;
    font-size: 15px;
    height: 46px;
    width: 418px;
    padding: 8px 44px 10px 14px;
}
label{
    cursor: default;
}
.lab_g{
    position: absolute;
    font-size: 15px;
    color: #999;
    letter-spacing: -0.05em;
    pointer-events: none;
}



